{% extends 'base.html' %} {% block title %} Account {% endblock title %} {% block content %}
<div class="container">
    <div class="jumbotron" style="margin-top: 10%; margin-left:10%">
        <div class="container">
            <div class="container" style="margin-left: 15%;margin-top:10px;">
                Search Your Account Information.
            </div>
            <div class=" container " style="margin-left: 15%;margin-top:30px;">
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="Account_no"> ACCOUNT NO:</label>
                    <input type="number" id="Account_no" name="Account_no"> <br>
                    <button type="submit" class="btn btn-primary" style="margin-left: 15%;margin-top:10px;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}