{% extends 'base.html' %} {% load static %} {% block title %} {{user.first_name}} {% endblock title %} {% block content %}
<section id="profile">
    <div class="container">
        <div class="jumbotron">
            <div class="name">
                <div class="container" style="margin-left: 20%;">
                    <div style="height:20px; width:20px;">
                        <img class="img" src="{{account.images_fields.url}}">

                    </div>

                    <br>
                    <span>
                        Account Number: {{account.account_number}} 
                    </span>
                    <br>
                    <span>
                    Balance: {{account.balance}} 
                </span>
                    <br>
                    <span>
                    Name: {{user.first_name}} {{user.last_name}} </span>

                    <br>
                    <span>
                    Email: {{user.email}}
                </span>
                    <br>

                    <span>
                    Citizenship Number: {{account.citizenship_no}}
                </span>
                    <br>
                    <span>
                    Phone: {{account.phone}} 
                </span>
                    <br>
                    <span>
                    Address: {{account.address}}
                </span>
                </div>

            </div>

        </div>
</section>
<style>
    .img {
        height: 50px;
        width: 50px;
    }
</style>
{% endblock content %}